In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
city = pd.read_csv('/content/drive/My Drive/collab_data/RFM_data/city.csv')
customer_data = pd.read_csv('/content/drive/My Drive/collab_data/RFM_data/customer_data.csv')
trans_data = pd.read_csv('/content/drive/My Drive/collab_data/RFM_data/tran_data.csv')

In [ ]:
city.head(1)

# city

In [ ]:
city = city.drop(['Id'], axis=1)

In [ ]:
city['state'].value_counts()

In [ ]:
list(city["state"].unique())

In [ ]:
city_list = list(city["state"].unique())

In [ ]:
# create a dictionary with five fields each
data = {
    'state_name': city_list,
    'state_id': [1,2,3,4,5,6,7,8],
   }

# Convert the dictionary into DataFrame
city_df = pd.DataFrame(data)

In [ ]:
city_df

# Transaction data

In [ ]:
trans_data.head(3)

In [ ]:
trans_data['date'].value_counts()

In [ ]:
trans_data.groupby(['Customer_id','date'])['Amount'].sum()

In [ ]:
print(list(trans_data['payment_mode'].value_counts()))
print(list(trans_data["payment_mode"].unique()))

In [ ]:
import matplotlib.pyplot as plt

# Setting labels for items in Chart
payment_mode = list(trans_data["payment_mode"].unique())

# Setting size in Chart based on
# given values
count_payment_mode = list(trans_data['payment_mode'].value_counts())

# colors
colors = ['#008261', '#4CA790', '#A5D3C7']
# explosion
explode = (0.05, 0.05, 0.05)

# Pie Chart
plt.pie(count_payment_mode, colors=colors, labels=payment_mode,
		autopct='%1.1f%%', pctdistance=0.85,
		explode=explode)

# draw circle
centre_circle = plt.Circle((0, 0), 0.70, fc='white')
fig = plt.gcf()

# Adding Circle in Pie chart
fig.gca().add_artist(centre_circle)

# Adding Title of chart
plt.title('Payment mode')

# Displaying Chart
plt.show()

In [ ]:
import datetime

In [ ]:
# convert into date time format
trans_data[["date"]] = trans_data[["date"]].apply(pd.to_datetime)

In [ ]:
# extract month
trans_data['month'] = trans_data['date'].dt.month

In [ ]:
trans_data.head(3)

In [ ]:
unique_month = list(trans_data["month"].unique())

In [ ]:
unique_month

In [ ]:
month_name = ['Feb','March', 'Jan', 'April']

In [ ]:
count_month = list(trans_data['month'].value_counts())

In [ ]:
count_month

In [ ]:
# Setting labels for items in Chart
month_name = ['Feb','March', 'Jan', 'April']

# Setting size in Chart based on
# given values
count_month = list(trans_data['month'].value_counts())

# colors
colors = ['#008261', '#4CA790', '#A5D3C7', '#008261']
# explosion
explode = (0.05, 0.05, 0.05, 0.05)

# Pie Chart
plt.pie(count_month, colors=colors, labels=month_name,
		autopct='%1.1f%%', pctdistance=0.85,
		explode=explode)

# draw circle
centre_circle = plt.Circle((0, 0), 0.70, fc='white')
fig = plt.gcf()

# Adding Circle in Pie chart
fig.gca().add_artist(centre_circle)

# Adding Title of chart
plt.title('Sales made in each month')

# Displaying Chart
plt.show()

In [ ]:
# Average cart value in each month
round(trans_data.groupby(['month'])['Amount'].mean(), 2)

# customer data

In [ ]:
customer_data

In [ ]:
customer_data['state_id'] = np.random.randint(1, 3, customer_data.shape[0])

In [ ]:
# dupliacte customer

In [ ]:
duplicate = customer_data[customer_data.duplicated('Customer_id')]

In [ ]:
duplicate

In [ ]:
df = duplicate

In [ ]:
df

In [ ]:
# keep the unique customer only
df = df.drop_duplicates(subset=['Customer_id'], keep='first')

In [ ]:
new_df = pd.merge(df, trans_data, on='Customer_id', how='inner')

In [ ]:
new_df

In [ ]:
new_df = pd.merge(new_df, city_df, on='state_id', how='inner')

In [ ]:
new_df

In [ ]:

# writing to Excel
datatoexcel = pd.ExcelWriter('clean_df.xlsx')

# write DataFrame to excel
new_df.to_excel(datatoexcel)

# save the excel
datatoexcel.save()

In [ ]:
# max date

max_date = max(new_df['date'])

In [ ]:
print(max_date)

# data loss

In [ ]:
new_data = new_df.value_counts('Customer_id').count()

In [ ]:
original = trans_data.value_counts('Customer_id').count()

In [ ]:
original- new_data

In [ ]:
percentage = (new_data / original) * 100

In [ ]:
percentage

In [ ]:
((original- new_data) / original) * 100

**2.5 % data loss happened**

**Reason : We dont have customer id information in customer dataset**